body {
  background-color: plum;
}
h1 {
  display: flex;
  justify-content: center;
}
.intro {
  width: 600px;
  margin-top: 100px;
  margin-right: 100px;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: paleturquoise;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
  text-align: center;
}
.navelement {
  display: inline;
}
.contact {
  font-size: 20px;
}
.homepage {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.link {
  display: flex;
  height: 100px;
  width: 100px;
  margin: 25px;
  margin-left: 100px;
}
#avi {
  height: 350px;
  width: 300px;
  border-radius: 30%;
}
p {
  font-size: 18px;
}
.overall {
  display: flex;
  justify-content: center;
}
.links {
  flex-direction: column;
  margin: 50px;
}
.linkname {
  margin-bottom: 90px;
}
#portfoliopic {
  height: 300px;
  width: 250px;
}
table, th, td {
  border: 1px solid black;
  font-size: 18px;
}
